.Footer {
  display: flex;
  padding: 0.4rem 1rem 0.6rem 1rem;
  justify-content: space-between;
  align-items: center;

  &__clear {
    background: transparent;
    border: none;
    color: gray;
    font-size: 0.875rem;
    font-weight: 300;
  }

  &__count {
    color: gray;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
